<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap.min.css">

    <title>SNCF - demo LTE-M</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<body>
    <div id="app">

        <!-- navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="assets/logo-sncf.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                ({{ selectedStation.city}}) - {{ selectedStation.station }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" v-for="station in stations" v-on:click="selectStation(station)">({{
                                    station.city }}) -
                                    {{station.station}}</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
                            <span class="fa fa-times fa-fw"></span>
                            Déconnexion
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-top: 2em">

            <!-- title -->
            <h1>Salon: {{ selectedStation.station }} ({{ selectedStation.city }})</h1>

            <p class="c2">
                {{ now.format('LLLL') }} |
                <button class="btn btn-link" v-on:click="udpate()">
                    <span class="fa fa-refresh fa-sync"></span> actualiser
                </button>
            </p>

            <h2>Places</h2>

            <div class="box box-primary" style="font-size: 1.3em">
                <div class="row align-items-center">
                    <div class="col-md-4 text-center">
                        <img src="assets/armchair-simple.svg" height="200px" />
                    </div>
                    <div class="col-md-8">
                        <div>
                            <div style="font-size: 2em">
                                libres:
                                <span class="bigNumber">{{ seatsBusy }}</span> / <span class="bigNumber">{{ seatsTotal
                                    }}</span>
                            </div>
                            <div style="height: 20px; width: 100%; background-color: #a44bb4">
                                <div class="gauge" v-bind:style="{backgroundColor: '#FFF', height: '100%', width: (seatsBusy / (seatsTotal) * 100) + '%', transition: 'width 2sec'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Détails</h3>
            <div style="display: grid; grid-template-columns: repeat(5, auto); margin-bottom: 1em; text-align: center">
                <!-- siège-->
                <div v-for="seat in seatStatus" :key="seat.value.seat">
                    <h3>n°{{ seat.value.seat + 1 }}</h3>
                    <img v-if="seat.value.status !== 1 && seat.value.reserv !== 1" src="assets/armchair-simple-dark.svg"
                        width="50%" style="display: block; margin: 0 auto" />
                    <img v-if="seat.value.status !== 1 && seat.value.reserv === 1" src="assets/armchair-simple-dark-reserv.svg"
                        width="50%" style="display: block; margin: 0 auto" />
                    <img v-if="seat.value.status === 1 && seat.value.reserv !== 1" src="assets/armchair-simple-dark-busy.svg"
                        width="50%" style="display: block; margin: 0 auto" class="brighter" />
                    <img v-if="seat.value.status === 1 && seat.value.reserv === 1" src="assets/armchair-simple-dark-busy-reserv.svg"
                        width="50%" style="display: block; margin: 0 auto" class="brighter" />
                    <div v-if="seat.value.reserv == 1">
                        <button v-on:click="unbookSeat(seat.value.seat)" class="btn btn-outline-danger">
                            <span class="fa fa-fw fa-times"></span>
                            Libérer
                        </button>
                    </div>
                    <div v-if="seat.value.reserv !== 1">
                        <button v-on:click="bookSeat(seat.value.seat)" class="btn btn-success">
                            <span class="fa fa-fw fa-star"></span>
                            Réserver
                        </button>
                    </div>
                </div>
            </div>

            <footer class="text-center" style="margin-top: 2em">
                <a>mentions légales</a> | <a>conditions générales</a><br>
                <small>made by <a href="http://rtone.fr">Rtone - IoT makers</a></small>
            </footer>

        </div>


        <script src="assets/jquery-3.3.1.slim.min.js"></script>
        <script src="assets/popper.min.js"></script>
        <script src="assets/bootstrap.min.js"></script>
        <script src="assets/mqttws31.min.js"></script>
        <script src="assets/vue.min.js"></script>
        <script src="assets/moment.min.js"></script>
        <script src="assets/moment.fr.js"></script>
        <script src="assets/d3.min.js"></script>
        <script src="lo-client.js"></script>
        <script src="index.js"></script>
</body>

</html>